*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 1000px;
}
.navbar{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4vw;
    background-color: black;
    z-index: 10;
}
.logo{
    width: 3vw;
    margin-left: 9vw;
}
.navmenu{
    margin-left: 10vw;
    display: flex;
}
.navmenu a{
    margin-right: 1.5vw;
    margin-left: 1.5vw;
    text-decoration: none;
    font-size: 1.1vw;
    color: white;
    font-weight: bold;
    
    
}
.navbtn{
    margin-right: 8vw;
    font-size: 1.1vw;
}
.navbtn a{
    
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}
#gets{
    color: black;
    background-color: #26DDF9 ;
    border-radius: 10vw;
    padding: 1vw;
    z-index: 200;
}


.dropdown-content{
    display: none;
    position: absolute;
    width: 100%;
    background-color: black;
    color: white;
    top: 4vw;
    right: 0;
    gap: 5vw;
   
}
.left-img img{
    width: 21vw;
    margin-bottom: 2vw;

}
.left-img{
    margin-top: 10vw;
    margin-bottom:8vw;
    margin-left: 15vw;
    font-size: 1.2vw;
}
.menu-items{
    margin-top: 10vw;
    margin-bottom:8vw;
}
.menu-items h3{
    margin-bottom: 0.8vw;
    font-size: 1.5vw;
}
.menu-items p{
    margin-bottom: 2.6vw;
    color: grey;
    font-size: 1.2vw;
}
.drdown{
    height: 7.5vh;
    display: flex;
    align-items: center;
    width: 9.5vw;
}

.drdown:hover .dropdown-content{
    display: flex;
}
#sp{
    color: grey;
}
.bgmain{
    display: flex;
    background: rgb(255, 115, 0);
    width: 100%;
    height: 46vw;
     
     
}
.bgmain p{
    color: white;
    font-weight: 600;
    font-size: 1.4vw;
}
.bgmain  .herotext h1{
    color: white;
    font-size: 4vw;
}
#herop a{
    text-decoration: none;
    font-size: .9vw;
    font-weight: 100;
    color: black;
    background-color: white;
    border-radius: 10vw;
    padding: 1vw;
}
.herotext{
    position: absolute;
    margin-left: 15vw;
    margin-top: 14vw;
    width: 40vw;
    z-index: 0;
}
.qrcode{
    display: flex;
    align-items: center;
    position: fixed;
    background-color: white;
    width: 15vw;
    margin-top: 4vw;
    margin-right: 3vw;
    border-radius: .5vw;
    z-index: 1;
}
#qrimg{
    padding: 0.6vw;
    width: 4.5vw;
}
.qrtext p{
    font-size: small;
    font-size: 1vw;
    color: black ;
}
.qrwrap{
    display: flex;
    justify-content: end;
    margin: 2vw;
}

.img1{
    background: url(https://images.ctfassets.net/jg6lo9a2ukvr/1A3hY2MznKqLbYekfdp8qd/9b6bf0a4e395aff0e6fbf56050e89897/D-000-1.png?fm=webp&q=75);
    background-size: 70vw ;
    background-repeat: no-repeat;
    margin-top: 2.5vw;
    width: 70vw;
    height: 27vw;
    margin-left: 15vw;
    display: flex;
}
.img2{
    background: url(https://images.ctfassets.net/jg6lo9a2ukvr/9Y7OJwhAxmc7Z0kTnheVH/599741562d34ddaac2aa71d84c31d8cd/D-100-1.png?fm=webp&q=75);
    background-size: 70vw ;
    background-repeat: no-repeat;
    margin-top: 2.5vw;
    width: 70vw;
    height: 27vw;
    margin-left: 15vw;
    display: flex;
}
.img3{
    background: url(https://images.ctfassets.net/jg6lo9a2ukvr/Kf7O2GIvUYwDnMFEgIt7r/73154f8ffd572ce6feeb158d81c2bb5e/D-200-1.png?fm=webp&q=75);
    background-size: 70vw ;
    background-repeat: no-repeat;
    margin-top: 2.5vw;
    width: 70vw;
    height: 27vw;
    margin-left: 15vw;
    display: flex;
}
.img4{
    background: url(https://images.ctfassets.net/jg6lo9a2ukvr/4h5D3XpSGW35juFSbmoV2K/0a5a1d2ea243bf25720d2719107c9c92/D-300-1.png?fm=webp&q=75);
    background-size: 70vw ;
    background-repeat: no-repeat;
    margin-top: 2.5vw;
    width: 70vw;
    height: 27vw;
    margin-left: 15vw;
    display: flex;
}
.textimg1{
    position: absolute;
    color: white;
    margin-top: 4vw;
    margin-left: 3vw;
}
.textimg3{
    position: absolute;
    color: black;
    margin-top: 4vw;
    margin-left: 3vw;
}
.textimg1 p{
    font-weight: bold;
    margin-bottom: 1vw;
    font-size: 1.7vw;
}
.textimg1 h1{
    font-weight: bold;
    font-size: 2.8vw;
}
#arrowimg{
    margin-top: 7.5vw;
    padding: 0.5vw;
    border-radius: 5vw;
    background-color: white;
}
.textimg3 p{
    font-weight: bold;
    margin-bottom: 1vw;
    font-size: 1.7vw;
}
.textimg3 h1{
    font-weight: bold;
    font-size: 2.5vw;
}
#arrowimg{
    margin-top: 7.5vw;
    padding: 0.5vw;
    border-radius: 5vw;
    background-color: white;
}
#arrowimg3{
    margin-top: 5.2vw;
    padding: 0.5vw;
    border-radius: 5vw;
    background-color: white;
}
#arrowimg4{
    margin-top: 3.8vw;
    padding: 0.5vw;
    border-radius: 5vw;
    background-color: white;
}
#inimg01{
    width: 70vw;
}
#inimg02{
    width: 50vw;
    margin-left: 15vw;
}
#inimg03{
    width: 70vw;
}
#inimg04{
    width: 70vw;
}
#para4{
    margin-bottom: 1.5vw;
}
#imgpara4{
    font-weight: 100;
    line-height: 5px;
    font-size: 1vw;
}
.middletext{ 
    margin-left: 15vw;
    margin-top: 8vw;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uptext{ 
    text-align: center;
    margin-bottom: 7vw;
}
.uptext h1{
     font-size: 3vw;
     margin-bottom: 1vw;
}
.uptext p{
     font-size: 1.4vw;
     font-weight: bold;
}
.downcard{ 
    display: flex;
    gap: 6vw;
    
}
 
.txt1{
    width: 3.2vw;
    text-align: center;
    font-size: 1vw;
    padding: 0.5vw;
    font-weight: bold;
    border-radius: 0.6vw;
    color: rgb(252, 82, 1);
    background-color: rgb(251, 199, 173);
    margin-bottom: 1vw;
}
.txt2{
    font-size: .6vw;
    margin-bottom: 1vw;
}
.txt3{
    font-size: 1vw;
    opacity: 0.7;
     
}
.orange{ 
    border-radius: 1vw;
    display: flex;
    width: 70vw;
    height: 24vw;
    margin-left: 15vw;
    margin-top: 5vw;
    background:linear-gradient(358deg, rgb(255, 99, 0) 1.54%, rgb(254, 118, 16) 93.17%);
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
    
}

#orglogo{
    width: 4vw;
    margin-top: 5vw;
    border-radius: 1vw;
    margin-bottom: 2vw;
}
#appicon{
    width: 2.5vw; 
}
#apkicon{
    width: 1.4vw; 
}
#htxt{
    color: white;
    font-size: 3vw;
}
.download{
    color: black;
    display: flex;
    gap: 2vw;
    margin-top: 2vw;
    
    font-weight: bold;
}
.ios{
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 2vw; 
    width: 15vw;
    justify-content: center;
}
.ios p{
    font-size: 1vw;
}
.and p{
    font-size: 1vw;
}
.and{
    width: 15vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw; 
}


.footer {
    width: 100%;
    background-color: #ffffff;
    color: #000;
    position: absolute; 
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.top {
    display: flex;
    gap: 5vw;
    align-items: flex-start;
    margin-top: 5vw;
    flex-wrap: wrap;
}

.top1 {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    margin-left: 4vw;
}

#geminilogo{
    width: 10vw;
}

.stay p {
    font-size: 1.4vw;
    font-weight: 600;
}

.email input {
    width: 15vw;
    padding: 14px;
    border-radius: 0.5vw;
    border: 1px solid #bfbfbf;
    font-size: 1.2vw;
}

.btn button {
    width: 10vw;
    padding: 1vw;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 5vw;
    font-size: 1.2vw;
    cursor: pointer;
    transition: 0.2s;
}
.btn button:hover {
    opacity: 0.9;
}

.social {
    display: flex;
    
    gap: 0.8vw;
    margin-top: 12vw;
}
.social img {
    width: 2vw;
    height: 2vw;
    border-radius: 5vw;
    padding: .3vw;
    background-color: #ebebeb;
}

.top2 {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: column;
    gap: 1.2vw;
    min-width: 11vw;
    margin-right: 0vw;
}

#bold {
    font-size: 1.3vw;
    font-weight: 700;
}

#simple {
    font-size: 1vw;
    color: #4a4a4a;
    cursor: pointer;
}
#simple:hover {
    text-decoration: underline;
}

.bottom {
   
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   
    flex-wrap: wrap;
}

.left p {
    font-size: 1vw;
    color: #666;
    margin: .4vw;
}
.left{
    margin-left: 4vw;
}

.right {
    display: flex;
    gap: 2vw;
    margin-right: 12vw;
    margin-top: 2vw;
    align-items: center;
}
.right a {
    text-decoration: none;
    color: #000;
     margin-bottom: 2vw;
    font-size: 1vw;
}
.right img{
    width: 2vw;
}

hr {
    margin: 4vw;
    border: 0.1vw solid #e2e2e2;
}

