.main{

    background-color: rgb(255, 255, 255);
   width: 700px;
   height: 500px;
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    align-items: center;
    gap: 50px;

}
body{
    background-color: black;
}
table{
    width: 70px;
    margin: 0px;
}

.sudoku{
    
    display: flex;
    width: 210px;
    height: 210px;
    flex-wrap: wrap;
    
}

.answer{
    
    display: flex;
    width: 210px;
    height: 210px;
    flex-wrap: wrap;
    
}

.color{
    background-color: rgb(145, 224, 192);
}