body{
    background-image: url(https://github.com/codinggita/CGxSU_Semester_1/blob/main/html_css_js/CSS/00.assignment/02.level_2/11.netflix-clone/assets/Title-Image.png?raw=true);
    width: 100%;
}

.navbar{
    display: flex;
    align-items: center;
}

.name-logo{
    margin-top: 15px;
    margin-left: 40px;
    width: 90px;
}

.list a{
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}
