body{ 
    height: 98vh;
    background: linear-gradient( #ff512f , #1e3c72 );
}
.main{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}
img{
    display: flex;
}
.c1{
    background-color: rgb(247, 242, 242);
    justify-items: center;
    box-shadow: 5px 5px 20px rgb(91, 91, 91);
    border-radius: 10px;
    margin: 15px;
    width: 180px;
    cursor: pointer;
    transition: 0.3s ease;
}
.c1:hover{
    transform: scale(1.1); 
}
.point{
    width: 250px;
    font-size: 40px;
    color: white; 
    justify-items: center;
}
